.white-filter {
  filter: invert(99%) sepia(61%) saturate(86%) hue-rotate(219deg) brightness(116%) contrast(100%);
}

.top2 {
  background-color: #3c3f46;
  background-image: url(../../imgs/texture.svg);
}
