// .checkers {
//   height: 200px;
//   width: 200px;
//   background-image: conic-gradient($color-sec 0, $color-sec 90deg, white 90deg, white 180deg, $color-sec 180deg, $color-sec 270deg, white 270deg, white 360deg);
//   background-size: 2rem 2rem;
// }

.checkers {
  height: 200px;
  width: 200px;
  background-image: conic-gradient(black 0, black 90deg, white 90deg, white 180deg, black 180deg, black 270deg, white 270deg, white 360deg);
  background-size: 2rem 2rem;
}

.white-filter {
  filter: invert(99%) sepia(61%) saturate(86%) hue-rotate(219deg) brightness(116%) contrast(100%);
}


