@import 'base/reset';
@import 'base/var';
@import 'base/mixin';
@import 'layout/nav';
@import 'layout/index/header';
@import 'layout/index/main-program';
@import 'layout/index/featured-speakers';
@import 'layout/index/partner-main';
@import 'layout/index/footer';
@import 'component';

body {
  background-color: #f9f9f9;
}
.great-wraper {
  max-width: 1200px;
  margin: 0 auto;
}