.featuredSpeakers {

  color: white;
 
  img {
    width: 300px;
  }

  &-heading {
  
    text-align: center;
    margin: 30px 0;

    &::after {
      @extend %tenPerCent-border-B;
    }
  }

  &-speakers {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    &-card {
      @include d-flex(flex-start, start);
      padding: 15px 15px 0;
      //height: 160px;
      height: 40.506vw;

      &-right {
        order: 2;
        margin-left: 10vw;
        height: 80%;
       
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .fs-card-right-top {
          //margin-bottom: 0.625rem;
          //margin-bottom: calc(5px + 0.5rem);
          &::after {
            content: '';
            display: block;
            width: 10%;
            padding-top: 1.2vw;
            border-bottom: 4px solid $color-sec;

          }
          &-1 {
            //font-size: 1rem;
            font-size: 4.051vw;
            letter-spacing: .8px;
            padding-bottom: 3px;
          }
          &-2 {
            //font-size: .89rem;
            //padding-bottom: 10px;
            font-size: 3.595vw;
            color: $color-decoration;
          }

        }

        .name-about-bottom {
          margin-top: -0.3rem;
          //font-size: .7rem;
          font-size: 2.835vw;
        }
      }

      &-left {
        

        .fs-card-img img {
          //width: 100px;
          //height: 100px;
          width: 25.316vw;
          height: 25.316vw;

          position: relative;
          left: 13%;
          //top: -40px;
          top: -10.127vw;

          
          object-fit: cover;

        }
        .checker img {
          //width: 50px;
          //height: 50px;
          width: 12.658vw;
          height: 12.658vw;

          &:first-child {
            display: none;
          }
        }
      }
    }
  }

  // &-card {
  //   @include border;

  //   &-right {
  //     @include border;

  //     img {

  //     }
  //   }
  // }
}


