.footer {
  height: 19.531vw;
  text-align: center;

  @include d-flex(space-around, center);

  &-left {
    width: 50%;

    &-wraper {
      width: 70%;
      margin: 0 auto;

      img {
        width: 19.531vw;
      }
    }
  }

  &-right {
    width: 50%;

    &-wraper {
      width: 70%;
      margin: 0 auto;

      p {
        font-size: 1.302vw;
      }
    }
  }
}


@media screen and (min-width: 768px) {
    .footer {
        max-height: 150px;
        min-height: 150px;
        text-align: left;

        &-right {
            width: 50%;
        
            &-wraper {
              width: 90%;
              margin: 0 auto;
        
              p {
                font-size: 1.802vw;
              }
            }
          }
    }
}

.other-pages-footer {
  background-color: rgb(46, 46, 46);
  color: $color-sec;
  
}