.header {
  height: 80vh;
  //height: 150vw;
  //position: relative;
  // @include mainProgram-card-background(white);
  background-color: #e2e2e2;

  &-top-img {
    height: 120px;
    width: 100%;
    background-image:
      linear-gradient(
        to left top,
        rgba(#fff, 1),
        rgba(0, 0, 0, 0.25)
      ),
      url(../../imgs/music-festivals-sexual-assaults-0328.jpg);
    background-size: cover;
    background-position: center;

    // img {
    // height: 120px;
    // width: 100%;
    // object-fit: cover;
    // }
  }

  &-wrapper {
    //margin-top: 20vw;
    @include border;
    //max-width: 700px;
    //position: absolute;
    top: 18%;
    left: 0;
    //transform: translate(0,-8%);
    @include d-flex(flex-start);

    flex-direction: column;
    height: 100%;
    //padding: 0 18px;
    padding: 04.369vw;
    padding-top: 10px;
  }

  &-main {
    &-sub {
      color: $color-decoration;
      text-transform: capitalize;
      //font-size: 3vh;
      font-weight: 300;
      margin-bottom: 1vw;
    }

    &-primary {
      color: $color-decoration;
      text-transform: uppercase;
      font-family: $font-cocogoose-reg;
      //font-size: 3.6vh;
      font-size: calc(1rem + 3vw);
      //font-size: calc(.5rem + 5vw);
      line-height: 1;

      .newline {
        display: block;
      }
    }
  }

  &-description {
    border: 3px solid black;
    background-color: #f7f7f7;
    //width: 90.875vw;
    //text-align: justify;
    font-size: 1.92vh;
    padding: 0.9vh;
    margin: 2.56vh 0;
    max-width: 350px;
  }

  &-spacetime {
    &-date {
      font-family: $font-cocogoose-reg;
      letter-spacing: 1px;
      font-size: 1.1rem;
      //font-size: 1.4em;
    }

    &-location {
      //font-size: 1.16vh;
      font-size: 0.9rem;
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 100vh;

    &-wrapper {
      height: 100%;
      justify-content: flex-start;
      padding-left: 100px;
      padding-top: 5px;
    }
    &-main {
      
      &-sub {
        font-size: 2rem;
      }

      &-primary {
        //font-size: 11vh;
        //font-size: 6vw;
        font-size: 3rem;
        
      }

    }
    &-description {
      max-width: 500px;
      font-size: 1rem;
    }
    &-spacetime {
      &-date {
        

        font-size: 1.5rem;
        
      }
  
      &-location {
        font-size: 1rem;
      }
    }
  }
}
