.header {
  height: 80vh;
  position: relative;

  &-wrapper {
    @include border;
    //max-width: 700px;
    position: absolute;
    top: 18%;
    left: 0;
     transform: translate(0,-8%);
    //@include d-flex();
    //flex-direction: column;
    height: 82%;
    padding: 0 18px;
  }

  &-main {
    &-sub {
      color: $color-decoration;
      text-transform: capitalize;
      font-size: 4.483vw;
      font-weight: 300;
      margin-bottom: 1vw;
    }

    &-primary {
      color: $color-decoration;
      text-transform: uppercase;
      font-family: $font-cocogoose-reg;
      font-size: 6.706vw;
      line-height: 1;

      .newline {
        display: block;
      }
    }
  }

  &-description {
    border: 3px solid black;
    background-color: #f7f7f7;
    //width: 90.875vw;
    //text-align: justify;
    font-size: 2.89vw;
    padding: 2.041vw;
    margin: 3.41vw 0;
  }

  &-spacetime {
    &-date {
      font-family: $font-cocogoose-reg;
      letter-spacing: 1px;
      font-size: 4.312vw;
      //font-size: 1.4em;
    }

    &-location {
      font-size: 2.912vw;
      font-weight: 300;
    }
  }
}
