.about-3rdSection {

  background-color: white;
  @include d-flex(space-around, center);
  flex-direction: column;
  padding: 20px 0;
  

  &-heading {
    font-family: $font-cocogoose-100;
    font-size: calc(.975rem + 0.5vw);
    line-height: 1;
    letter-spacing: 0.5px;

    &::after {
        @extend %tenPerCent-border-B;
        width: 5%;
        padding-top: 10px;
        
    }
  }

  &-content {
    margin: 10px 0 30px;
    font-size: 12px;
    line-height: 1.4;
    width: 80%;
    max-width: 500px;
  }

  &-card {

      @include d-flex();

      > div {
        width: 280px;
        height: 140px;
        background-size: cover;
        background-position-y: bottom;
        // card text flex 
        @include d-flex(center, center);
        flex-direction: column;
        // text prop.
        text-align: center;
        color: white;
        font-family: $font-cocogoose-reg;
        // other 
        cursor: pointer;
      }

      &-1 {
          margin-right: 20px;
          background-image:
          linear-gradient(
            rgba($color-decoration, 0.5),
            rgba($color-decoration, 0.5),
          ),
            url(../../imgs/card1-20_090-1545x1030.jpg);
    }

      &-2 {
    
        background-image:
        linear-gradient(
          rgba($color-decoration, 0.5),
          rgba($color-decoration, 0.5),
        ),
         url(../../imgs/card2ByPalma-Conference-2018-624x351.jpg);
    }

    //card text 
    &-text-1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
    &-text-2 {
        font-size: 10px;
        letter-spacing: 1.1px;
    }
  }
}

@media screen and (max-width: 768px) {
    .about-3rdSection-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        > div {
            width: 320px;
            height: 180px;
        }

    }

    .about-3rdSection-card-1 {
        margin-bottom: 20px;
        margin-right: 0;
    }
}
