@mixin cocogoose ($weight) {
    @if $weight == 100 {
        font-family: $font-cocogoose-100;
    }
    @else if $weight == 200 {
        font-family: $font-cocogoose-200and600;
        font-weight: 200;
    }

    @else if $weight == 300 {
        font-family: $font-cocogoose-reg;
    }
    @else if $weight == 600 {
        font-family: $font-cocogoose-200and600;
        font-weight: 600;
    }

}