//var

//colors 
$color-primary: #272A31;
$color-sec: #D3D3D3;
$color-decoration: #EC5242;

//fonts
//$font-lato: font-family: 'Lato', sans-serif;
$font-cocogoose-100: 'Cocogoose Pro', sans-serif;
$font-cocogoose-200and600: 'COCOGOOSE', sans-serif;
$font-cocogoose-reg: 'Cocogoose', sans-serif;

