//var

//colors
$color-primary: #272a31;
$color-sec: #d3d3d3;
$color-decoration: #ec5242;

//fonts
$font-lato:'Lato', sans-serif;
$font-cocogoose-100: 'Cocogoose Pro', sans-serif;
$font-cocogoose-reg: 'COCOGOOSE Regular', sans-serif;
